@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    width: 320px;
    text-align: center;
    border: 2px solid #000;
    background: rgb(226, 226, 226);
    padding: 5px;
    
}
.header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.header button{
    background: none;
}
.header button:hover{
    background: #e9e9e9;
    border: 1px solid rgb(189, 189, 189);
}
.header h2{
    font-size: 22px;
}
.special-keys{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2px;
    margin-top: 5px;
}
.special-keys button{
    font-size: 14px;
    background: none;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2px;
    margin-top: 2px;
    
}
button{
    border: none;
    padding: 10px;
}
button:hover{
    background-color: rgb(226, 226, 226);
}   
input[type="text"]{
    width:95%;
    height: 40px;
    font-size: 35px;
    font-weight:  normal;
    text-align: right;
    border: none;
    color: #000;
    background: rgb(233, 233, 233);
}

#sub-text {
    height: 25px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
}
sub, sup {
    font-size: 9px;
}

#result{
    background-color: #85b3e7;
}

#result:hover {
    background-color: #4a83ec;
}
