@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    width: 320px;
    text-align: center;
    border: 2px solid #000;
    background: rgb(226, 226, 226);
    padding: 5px;
}
.header{
    /* border:1px solid #000; */
    margin-top: 5px;
    display: flex;
    column-gap: 20px;
}
.flex-item{
    background: none;
    
}
.item-2{
    text-align: left;
    flex-grow: 1;
}
.header button:hover{
    background: #cacaca;
    transition: 0.5s;
}

.special-keys{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2px;
    margin-top: 10px;
}
.special-keys button{
    font-size: 14px;
    padding: 8px;
    background: none;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2px;
    margin-top: 2px;
    
}
button{
    border: none;
    padding: 15px;
}

button:hover{
    background: rgb(219, 218, 218);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}   
button:disabled, button[disabled]{
    box-shadow: none;
    background:none;
}
input[type="text"]{
    width:95%;
    height: 50px;
    font-size: 40px;
    font-weight:  normal;
    text-align: right;
    margin-top: 10px;
    border: none;
    color: #000;
    background-color: rgb(226, 226, 226);
}

#sub-text {
    height: 25px;
    font-size: 15px;
    font-weight: normal;
}
sub, sup {
    font-size: 9px;
}

.opbtn:hover {
    background-color: #4a83ec;
}
.keybtn
{
    background: #ffffff;
}